/** RESET STYLE **/

html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none !important;
    font: 15px 'Oswald', sans-serif;
}


ol, ul {
	list-style: none;
}

header
{
    position:relative;
    background-color:#FFF;
	z-index:1;
    background-image:url(../img/8_53.png);
    background-position:right;
    background-repeat:no-repeat;
    background-position:left;
}

.textWall
{
    margin-top:50px;
    background-color:transparent;
	width: 100%;
	position: relative;
	height: 0px;

        
}

.textWall:active
{
    transform:  perspective(800px) rotateY( 180deg );
            
}

/***
    MENU
***/

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: small;
    font-style: normal;
}


.overlayText {
    z-index:3;
    color: #000;
    position:absolute;
    top:0px;
    background: #fff;
	z-index: 1000;
	text-align: right;
    
}

.bottomText {
    z-index:2;
    color: #000;
    opacity: 0.5;
    position:absolute;
    top:0px;
    padding-left:5px;
    padding-top:5px;
    background: #FFF;
	text-align: right;


}

