/** RESET STYLE **/

html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none !important;
    font: 15px 'Oswald', sans-serif;
}


ol, ul {
	list-style: none;
}

#wrapper {
    position:relative;
    width:80%;
    height: 500px;
}

header
{
    position:absolute;
    background-color:transparent;
	
    /*background-image:url(../img/8_53.png);
    background-position:right;
    background-repeat:no-repeat;
    background-position:right;*/
    margin:auto;
}

.layer1
{
    background-color:transparent;
    opacity:0.8;
    color:#000;
    border: 2px solid #000;
}

.layer2
{
    background-color:transparent;
    color:red;
    opacity:0.5;
    border: 2px solid red;
}

.layer3
{
    background-color:transparent;
    color:green;
    opacity:0.5;
    border: 2px solid green;
}


/***
    MENU
***/

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: small;
    font-style: normal;
}


.overlayText {
    position:absolute;
    top:0px;
    background-color: transparent;
	text-align: right;
    transition: all 0.5s ease;


    
}

.bottomText {
    color: transparent;
    text-shadow: 0px 0px 1px #006699;
    opacity: 0.5;
    position:absolute;
    top:0px;
    padding-left:5px;
    padding-top:5px;
    background: #FFF;
	text-align: right;


}



