
body {
    padding:0px;
    margin:0px;
    margin-top:55px;
}

.topDiv {
    z-index:1;
    width:100%;
    height:600px;
    background-image:url(../img/Desert.jpg);
    background-size: 100%;
}

.centerDiv {
    width:100%;
}

.bottomDiv {
    width:100%;
    height:300px;
    background-image:url(../img/Jellyfish.jpg);
    background-size: 100%;
}

.marginRight {
    margin-right:10px;
}

.topArticleContent {
    z-index:2;
    position:relative;
    width:600px;
    margin:auto;
}
