/* Typography
--------------------------------------------------------*/

.textWall h1, h2, h3, h4 {
	font-weight: 300;
	font-family: 'Oswald',sans-serif;

	margin: 0 0 6px;
    text-shadow:0px 3px 1px #555;
}

.textWall h1 {
	font-size: 250px;
	text-transform: uppercase;
	position: relative;
	letter-spacing: -2px;
	text-align: left;
	line-height: 0.8;
	margin-bottom: 35px;
	padding-top: 15px;
}
.textWall h1 span{
	color: #7b133c;
	font-size: 150px;
}

.textWall h2 {
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
}
.textWall h2.white { color: #222;}

.textWall h3 {font-size: 22px; line-height: 1; color: #555;}
.textWall h3.sectionTitle {
    border-bottom: 1px solid #cacaca;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 26px 0 6px;
}
.textWall .small {font-size: 36px; font-weight:300;}
.textWall .smallBold {font-size: 36px; font-weight:700;}
.textWall .medium {font-size: 44px; text-transform: uppercase;}
.textWall .mediumBold {font-size: 44px; font-weight:700; text-transform: uppercase;}
.textWall .large {font-size: 56px; text-transform: uppercase;}
.textWall .largeBold {font-size: 56px; font-weight:700; text-transform: uppercase;}
.textWall .author {font-size: 18px; font-weight:300;}
